<div style="background:#0B1E37 !important" class="jumbotron jumbotron-custom" >
    <div class="container">
            <div class="sidenav">
            <a routerLink="/preferences">Preferences</a>
            <a routerLink="#services">help</a>
            <a routerLink="#clients">Clients</a>
            <a routerLink="/contact">Contact</a>
        </div>
        


        <h1 style="color:#B1B2B2 !important">Account</h1>
        <p style="color:#B1B2B2 !important">Current User: {{currentUser.firstName}}</p>

        <h3 style="color:#B1B2B2 !important">Your Account</h3>
        <ul>
            <li style="color:#B1B2B2 !important" *ngFor="let user of users">
                {{user.username}} ({{user.firstName}} {{user.lastName}})
                - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
            </li>
        </ul>
    </div>
</div>