<style>
    body {
      font-family: "Lato", sans-serif;
    }

    .main {
      margin-left: 140px; /* Same width as the sidebar + left position in px */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }
    
</style>

  


<h1 style="color:#B1B2B2 !important">Contact Us</h1>

<br>
<h4 style="color:#B1B2B2 !important">Team Giratina</h4>

<p style="color:#B1B2B2 !important">
  <a href = "https://github.com/ECU-CSCI-4230/TeamGiratina">Github</a>
</p>

