/* You can add global styles to this file, and also import other style files */
.jumbotron-custom{
    min-height: 100vh;
    height: 100%;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: #0B1E37;
}