
<div style="background:#0B1E37 !important" class="jumbotron jumbotron-custom" >
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class='app'>

          <div class='app-top'>
            <button (click)='toggleVisible()'>toggle visible</button>
            <button (click)='toggleWeekends()'>toggle weekends</button>
            <button (click)='gotoPast()'>go to a date in the past</button>
            <h5>(Click a date/time to add an event.)</h5>
          </div>

          <div class='app-calendar' *ngIf="calendarVisible">
            <full-calendar
    	        schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
              #fullcalendar
              defaultView="dayGridMonth"
              [header]="{
                  left: 'prev,next, today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
              }"
              [plugins]="calendarPlugins"
              [weekends]="calendarWeekends"
              [events]="calendarEvents"
              (dateClick)="handleDateClick($event)"
            ></full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

