

.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
  border-color: #FF8000;
}



.fc-highlight {
  /* when user is selecting cells */
  background: #CEF6CE;
  opacity: .8; 
}

h1 {
	color: #FA58F4;
}

h5 {
	color: #CEECF5;
}

full-calendar {
	color: #CEECF5;
	background: #CEE3F6;
}

full-calendar.events {
	color: '#378006';
}

.dayGridMonth {
	color: #CEE3F6;
}

.dateClick {
	color: #CEE3F6;
}





