<style>
   
   
    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      width: 200px;
      position: fixed;
      z-index: 1;
      top: px;
      left: 10px;
      background: #111;
      overflow-x: hidden;
      padding: 8px 0;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }
    
    .sidenav a:hover {
      color: #064579;
    }
    
    .main {
      margin-left: 140px; /* Same width as the sidebar + left position in px */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    .chkbox {
      padding-left: 10px;
      display: inline;
    }



    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>

<div class="sidenav">
    <a routerLink="preferences">Preferences</a>
    <a href="#services">help</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>
  


<h1 style="color:#B1B2B2 !important">Preferences</h1>
<br>
<form [formGroup] = "preferenceForm" (ngSubmit)="onSubmit()" class = 'body' >
  <div style="color:#B1B2B2 !important" class="form-group">
    <input type="checkbox" formControlName="notifications" id="notifications" [ngClass]="{ 'is-invalid': submitted && f.notifications.errors }" />
    <label for="notifications" class="chkbox">Would You Like To Receive Notifications?</label>
    <div *ngIf="submitted && f.notifications.errors" class="invalid-feedback">
      
    </div>
  </div>
  <br>
  <h4 style="color:#B1B2B2 !important">Which Notifications would you like to receive?</h4>
  <div style="color:#B1B2B2 !important" class="form-group">
    <input type="checkbox" formControlName="excercise" id="excercise" [ngClass]="{ 'is-invalid': submitted && f.excercise.errors }" />
    <label for="excercise" class="chkbox">To Exercise</label>
    <div *ngIf="submitted && f.excercise.errors" class="invalid-feedback">
      
    </div>
  </div>

  <div style="color:#B1B2B2 !important" class="form-group">
    <input type="checkbox" formControlName="water" id="water" [ngClass]="{ 'is-invalid': submitted && f.water.errors }" />
    <label for="water" class="chkbox">To Drink Water</label>
    <div *ngIf="submitted && f.water.errors" class="invalid-feedback">
      
    </div>
  </div>

  <div style="color:#B1B2B2 !important" class="form-group">
    <input type="checkbox" formControlName="cook" id="cook" [ngClass]="{ 'is-invalid': submitted && f.cook.errors }" />
    <label for="cook" class="chkbox">To Cook</label>
    <div *ngIf="submitted && f.cook.errors" class="invalid-feedback">
      
    </div>
  </div>
  
  <br>
  <div style="color:#B1B2B2 !important" class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
      <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
    </div>
  </div>
    
</form>
<ul>
    
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
