<div class="jumbotron-custom">
  <div class="container"> 
    <h1><b>{{recipe.title}}</b></h1>
    <br>
    <img src="{{recipe.imageUrl}}" alt="{{recipe.title}}">
    <br>
    <br>
    <br>
    <br>
    <h2>Serves</h2>
    <p>{{recipe.serves}}</p>
    <br>
    <br>
    <br>
    <h2>Ingredients</h2>
    <p>{{recipe.ingredients}}</p>
    <br>
    <br>
    <br>
    <h2>Description</h2>
    <p>{{recipe.description}}</p>
    <br>
    <br>
    <br>
    <h2>Instructions</h2>
    <p>{{recipe.instructions}}</p>
    <br>
    <br>
    <br>
    <h2>Uploader</h2>
    <p>{{recipe.username}}</p>
    <br>
    <br>
    <br>
    <h2>Created On</h2>
    <p>{{recipe.createdDate}}</p>
    <br>
    <a routerLink="/recipe-home" style="background-color:white !important" class="btn btn-link">back</a>
  </div>
  
</div>